/* .container{
    text-align: center;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 200px auto 200px;
    grid-gap: 5px;

} */

/* grid fractional unit */

/* .container{
    text-align: center;
    background-color: rgb(163, 53, 53);
    display: grid; */
    /* grid-template-columns: 1fr 2fr; */
    /* grid-template: 2fr 3fr / 1fr 2fr; */
    /* grid-template-columns: repeat (3, 1fr ); */
    /* grid-template: repeat(3, 1fr) / repeat(3 , 1fr);
    grid-gap: 5px;
    color: aliceblue;
     */
/* } */

/* .container div{
    border: 1px solid white;
} */








/* positioning */
.header{
    background-color: rgb(19, 223, 128);
}

.menu{
    background-color: rgb(216, 20, 79);
}

.content{
    background-color: rgb(59, 75, 221);
}

.footer{
    background-color: rgb(219, 203, 54);
}


/* .container{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;
} */

/* .header{ */
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 2 /span 12;
} */

/* .footer{
    /* grid-column: 1/3; */
    /* grid-column: 1/ span 12; */
/* } */

/* .menu{
    grid-column: 1;
    grid-row: 1/ 3;
}
.content{
    grid-column: 2 /span 12;
} */






/* Grid templete Area */

/* .container{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    ". h h h h h h h h h ."
    "m m m c c c c c c c c"
    ". f f f f f f f f f .";
}

.header{
    grid-area: h;
}
.menu{
    grid-area: m;
}

.content{
    grid-area: c;
}

.footer{
    grid-area: f;
} */








/* auto fit & min max */

/* .container{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    height: 500px;
    display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: repeat(auto-fit, 90px); */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows:1fr ;
    grid-auto-columns: 1fr;
} */

/* .container div{
    background-color: rgb(228, 106, 106);
    border-right: 1px solid white;
    border-bottom: 1px solid white;

} */




/* Justify content & align items */

/* .container{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(2, 90px);
    grid-gap: 5px; */
    /* justify-content: center;
    align-content: center; */
/* 
    justify-items: start;
    align-items: start;
    
} */

/* .container div{
    background-color: rgb(87, 144, 190);
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
} */